<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyim.android.xmpp"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <!-- 创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:icon="@drawable/log"
        android:label="@string/app_name" >
        <activity
            android:name="com.easyim.android.activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter> 
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="com.easyim.android.activity.FilesActivity" />
    <activity android:name="com.easyim.android.activity.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    <activity android:name="com.easyim.android.activity.FriendListActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    <activity android:name="com.easyim.android.activity.FriendAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    <activity android:name="com.easyim.android.activity.ChatActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    <activity android:name="com.easyim.android.activity.FormFiles" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    <activity android:name="com.easyim.android.activity.RegisterActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustUnspecified|stateHidden" />
    </application>
</manifest>